@use "./rules.scss" as auths;

.container {
  @include auths.flex(column, center, center, 0);
  width: 50%;
  margin: auto;
  border: 2px solid gray;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
}

.container h2 {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

.container p {
  text-align: justify;
  margin-bottom: 20px;
}

.container__form {
  @include auths.flex(row, flex-end, flex-start, 0);
  width: 100%;
  height: 2rem;
}

.container__form input {
  @include auths.input();
  @include auths.font();
  min-width: 40%;
  padding-left: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid gray;
  background-color: aliceblue;
}

.container__form button {
  @include auths.font();
  @include auths.button();
  min-width: 20%;
  font-weight: 600;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
}