@use "./rules.scss" as headers;

.header {
  @include headers.flex(column, center, space-between, 20px);
  padding: 0 40px 20px 25px;
  border-bottom: 1px solid black;
}

.header__logo {
  margin: auto
}

.header__lower-section {
  @include headers.flex(row, space-between, center, 30px)
}

.header__date {
  @include headers.flex(row, space-around, center, 30px);
}

.header__date p {
  font-size: 28px;
  margin: 0;
}

.header__date img {
  @include headers.image()
}