@use "./rules.scss" as mains;

.main {
  @include mains.flex(column, flex-start, space-between, 0);
  width: 100%;
  margin-bottom: auto;
}

.main__buttons {
  @include mains.flex(row, space-around, flex-start, 50px);
  box-sizing: border-box;
  padding: 2px 0;
  border-bottom: 1px solid black;
}

.main__buttons button {
  @include mains.button();
  @include mains.font(19px);
  padding: 10px 30px;
}

.main__content {
  @include mains.flex(row, space-around, flex-start, 0);
}

.main__expenses div {
  @include mains.flex(row, space-between, flex-start, 10px);
}