@use "./rules.scss" as pages;
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');

* {
  margin: 0;
}

.page {
  @include pages.background;
  padding: 25px 25px 10px;
  box-sizing: border-box;
  font-family: 'B612 Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.page__login {
  justify-content: center;
  align-items: center;
}

.page__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include pages.background(.65);
  display: flex;
  justify-content: center;
  align-items: center;
}