.popup {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 15px 25px 20px;
  gap: 20px;
}

.popup__upper-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup__upper-section button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup__input-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.popup__input-field input {
  border: none;
  cursor: pointer;
  outline: none;
  font-family: 'B612 Mono', monospace;
  letter-spacing: 1.5px;
  
}

.popup__input-field:first-of-type input {
  border-bottom: 1px solid gray;
  cursor: text;
}

.popup__input-field button {
  border: none;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  font-family: 'B612 Mono', monospace;
}

.popup__input-field button:hover {
  color: hsla(0, 0%, 30%, .8);
}