@use "./rules.scss" as forms;

.popup {
  @include forms.flex(column, flex-start, space-between, 20px);
  @include forms.background;
  border: 1px solid black;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 15px 25px 20px;
}

.popup__upper-section {
  @include forms.flex;
}

.popup__upper-section button {
  @include forms.button;
}

.popup form {
  @include forms.flex(column, flex-start, space-between, 20px);
}

.popup__input-field {
  @include forms.flex(row, space-between, flex-start, 15);
}

.popup__input-field input {
  @include forms.input;
  @include forms.font;
}

.popup__input-field:first-of-type input {
  border-bottom: 1px solid gray;
  cursor: text;
}

.popup__input-field button {
  @include forms.button;
  @include forms.font;
}