@mixin flex($direction: row, $justify: space-between, $align: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin image($size: 2rem, $radius: 20px) {
  width: $size;
  height: $size;
  border-radius: $radius;
}

@mixin button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: hsla(0, 0%, 30%, .8);
  }
}

@mixin background($alpha: 1) {
  background-color: hsla(0, 0%, 100%, $alpha);
}

@mixin font($size: 16px) {
  font-family: 'B612 Mono', monospace;
  font-size: $size;
}

@mixin input($cursor: pointer) {
  cursor: $cursor;
  border: none;
  outline: none;
  letter-spacing: 1.5px;
}