@use "./rules.scss" as users;
@keyframes rotate {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(180deg)
  }
}

$transduration: .3s;

.user {
  @include users.flex(row, center, center, 20px);
  font-size: 28px;
}

.user__avatar {
  @include users.image();
}

.user__username {
  margin: 0;
}

.user__settings {
  cursor: pointer;
  transition: opacity $transduration ease-in-out;
}

.user__settings:hover {
  opacity: .7;
  transition: opacity $transduration ease-in-out;
}

.user__info {
  @include users.flex(row, center, center, 20px);
  opacity: 1;
  transition: opacity $transduration ease-in-out;
}

.user__info_hidden {
  opacity: 0;
  transition: opacity $transduration ease-in-out;
}

.user__settings_clicked {
  animation: rotate $transduration ease-in-out forwards;
}