.user {
  grid-area: user;
  height: 80px;
  display: grid;
  align-self: center;
  font-size: 24px;
  grid-template-columns: 2fr auto auto;
  grid-template-rows: repeat(2, .5fr);
  gap: 10px 20px;
  grid-template-areas: 
    "avatar username settings"
    "avatar passed passed";
}

.user__avatar {
  grid-area: avatar;
  justify-self: end;
  width: 80px;
  height: 80px;
  border-radius: 90px;
  border: 1px solid hsl(0, 0%, 0%);
}

.user__username {
  grid-area: username;
  margin: 0;
}

.user__settings {
  cursor: pointer;
  grid-area: settings;
  transition: transform .5s ease-in-out;
}

.user__settings:hover {
  transform: scale(110%);
  transition: transform .5s ease-in-out;
}

.user__passed {
  grid-area: passed;
  margin: 0 10px 0 0;
}